<!DOCTYPE html>
<html ng-app="todo">
  <head>
    <title><%=typeof title == 'undefined' ? 'Sails.js+AngularJS' : title%></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Styles -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/sticky-footer-navbar.css">
    <!-- Styles -->
  </head>

  <body>
<%- body %>
    <!-- Templates -->
    <script type="text/javascript" src="/jst.js"></script>
    <!-- Templates -->

    <!-- Scripts -->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/js/angular/app.js"></script>
    <script src="/js/angular/modules/task.js"></script>
    <!-- Scripts -->
  </body>
</html>
