<div class="container">
    <div class="jumbotron" ng-controller="CreateTaskController">
        <h1 align="center">todo-app</h1>
        <br>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Create a task for your todo list!" ng-model="form_data.value">
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="create()">Create task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="#/read" role="button" class="btn btn-default btn-lg">Read your tasks</a>
    </div>
</div>
